:root {
    --white: #ffffff;
    --Black: #000000;
    --Very-light-pink: #C7C7C7;
    --Text-input-field: #F7F7F7;
    --Hospital-green: #ACD9B2;
    --sm: .88rem;
    --md: 1rem;
    --lg: 1.13rem;
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.login {
    width: 100%;
    height: 100vh;
    /*  Esto seria igual que colocar 
    display: flex;
    justify content: center;
    align items: center;
    */
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 18.75rem;
}
.form a {
    color: var(--Hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 3.25rem;
}
.input-email {
    margin-bottom: 1.375rem;
}


.logo {
    width: 9.4rem;
    margin-bottom: 3rem;
    /* con justify-self podemos alinear un texto, logo o div sin necesidad de tener otros elementos  */
    justify-self: center;
    display: none;
}


.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    
}
.input {
    background-color: var(--Text-input-field);
    border: none;
    border-radius: .5rem;
    height: 2rem;
    font-size: var(--md);
    padding: .375rem;
    margin-bottom: 0.75rem;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: .25rem;
}
.primary-button {
    background-color: var(--Hospital-green);
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 3.125rem;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--Hospital-green);
    color: var(--Hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 3.125rem;
    
}
.login-button {
    margin-top: 0.875rem;
    margin-bottom: 1.875rem;
}

/* esta medida responsive esta hecha para medidas grandes apartir de una medidas pequeña si se amplia se hara el cambio correspondiente */
@media (max-width: 40rem) {
    .logo {
        /* colocamos display: block para que se pueda visualizar nuevamente nuestro logo */
        display: block;
    }
}

@media (max-width: 40rem) {
    .secondary-button {
        /* colocamos display: block para que se pueda visualizar nuevamente nuestro logo */
        position: relative;
        top: 6.875rem;
    }
}

